.foodItemsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.filterForFoodContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.searchContainer {
  background-color: transparent;
  border-radius: 25px;
  min-width: 80%;
  color: #fff;
}
.searchContainer:focus {
  background-color: transparent;
  outline: none; /* Optional */
  color: #fff;
}
.searchContainer::placeholder {
  color: #ffffffbe; /* Change this to your desired color */
}

.filterBtn {
  color: red;
  font-weight: bold;
  font-size: 20px;
  background-color: transparent;
  border-color: red;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
}

.notActiveBtn {
  font-weight: bold;
  color: #696969;
  border-style: none;
  background-color: transparent;
}

.loaderContainer {
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 40vh;
}

@media (max-width: 786px) {
  .filterBtn {
    font-size: 15px;
  }
  .notActiveBtn {
    font-size: 13px;
  }
  .filterForFoodContainer {
    width: 100vw;
    padding: 3px;
  }
  .loaderPara {
    font-size: 13px;
    text-align: center;
  }
}
