.headerContainer {
  display: flex;

  justify-content: space-between;

  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 5px;
  position: fixed;
  height: 50px;
  width: 100%;

  border-radius: 30px;
  backdrop-filter: blur(20px);
  z-index: 1000;

  margin: auto;
  margin-top: 10px;
  border-color: #fff;
}

.lgoutBtn {
  border-radius: 5px;
  background-color: transparent;
  font-weight: bold;
  color: rgb(255, 255, 255);
  border-style: none;
  border-color: #fff;
  position: relative;
}

.lgoutBtn::after {
  content: "Log Out";
  position: absolute;
  top: 100%; /* Position the tooltip above the icon */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #ffffff;
  padding: 5px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  pointer-events: none;
}

.lgoutBtn:hover::after {
  opacity: 1;
  visibility: visible;
}

.activeBtn {
  color: rgba(241, 241, 248, 0.637);
  font-weight: bold;

  background-color: transparent;
  border-color: red;

  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
}

.notActiveBtn {
  font-weight: bold;
  color: #696969;
  border-style: none;
  background-color: transparent;
}

.headerInnerContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 60%;
}

.loSinContainer {
  display: flex;

  width: 90%;
  gap: 10%;
  justify-content: flex-end;
}

@media (max-width: 786px) {
  .activeBtn {
    font-size: 12px;
  }

  .lgoutBtn {
    font-size: 12px;
  }

  .headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2px;
    padding-right: 2px;
    height: auto;
    gap: 10px;
    margin-bottom: 5px;
  }
  .notActiveBtn {
    font-size: 12px;
  }

  .imgLogosm {
    width: 60px !important;
  }
  .loSinContainer {
    width: 70%;
  }
}
