.footerContainer {
  background-color: #0b0b0b;
  min-width: 100%;
  display: flex;
  justify-content: space-around;

  align-items: center;
  color: #fff;
  padding: 20px;
  gap: 10px;
  margin-top: 20px;
}

.logoContainer {
  display: flex;

  width: 100%;
  justify-content: space-between;
}
.logoImg {
  width: 80px;
  border-radius: 10px;
  margin: 10px;
}

.iconLogo {
  width: 50px;
  margin: 3px;
}

.footPara {
  font-weight: bold;
  font-family: "Roboto";
}

@media (max-width: 786px) {
  .iconLogo {
    width: 30px;
    height: 30px;
  }
  .footPara {
    font-size: 17px;
  }

  .followHead {
    font-size: 20px;
    text-align: center;
  }
}
