.Logincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #fff;
  width: 100%;
  height: 100vh;
  background-image: url("./download\ \(1\).jpg");
  background-size: cover;
}

.inc2 {
  display: flex;
  gap: 15px;
  flex-direction: column;
  width: 95%;
  margin: auto;
}

.subBtn {
  backdrop-filter: blur(20px);
  border-radius: 25px;
  background-color: transparent;
  border-style: none;
  text-decoration: underline;
  padding: 7px;
  color: #fff;

  margin-left: 8px;
}

.nUserBtn {
  margin-left: 5px;

  border-radius: 25px;
  background-color: #fff;
  border-color: #fff;
  border-width: 1px;
  padding: 7px 10px;
  width: 40%;
  color: #0f0e0ec2;
  font-weight: bold;
}
.nUserBtn:hover {
  background-color: transparent;
  color: #fff;
}

.innerContainer {
  width: 30%;
  backdrop-filter: blur(20px);

  border-color: #fff;
  padding: 15px;
  margin: auto;

  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}

.fc2 {
  background-color: transparent;
  border-radius: 25px;
  color: #fff;
}
.fc2:focus {
  background-color: transparent;
  outline: none; /* Optional */
  color: #fff;
}
.fc2::placeholder {
  color: #ffffffbe; /* Change this to your desired color */
}

.loginHead {
  text-align: center;
  font-size: 30px;
}

@media (max-width: 786px) {
  .innerContainer {
    width: 80%;
  }

  .inc2 {
    display: flex;
    gap: 1px;
    flex-direction: column;
  }
}
